# Ignore keynote folder
keynote/

# Common R/RStudio files
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.Rproj.user

# Quarto build outputs
_book/
*_files/
*.pdf

# OS files
.DS_Store
Thumbs.db

# Environment files
.Renviron
.env

/.quarto/
**/*.quarto_ipynb
